.contenainer-cards {
    display: flex;
}

.fondo {
    display: flex;
    padding: 100px;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url(../imagenes/portada.jpg);
    background-size: cover;
}

.video2 {
    min-width: 500px;   
}

.row { 
    flex-flow: row;
    align-items: center;
    display: flex;
}

.col-8 {
    flex: 150rem;
}

.col-4 {
    flex: 82rem;
    padding: 2rem;
}

iframe {
    min-width: 37rem;
    min-height: 25rem;
}
